seaborn
scikit-learn
matplotlib
numpy
pandas
torch
torchvision
torchaudio
huggingface
transformers
streamlit
yaspin
python-dotenv
wikipedia-api
accelerate
filelock
datasets
pandas
jupyter


## 
langchain
sentence-transformers
chromadb
langchain-community